/* Variables */
:root {
  --blue: #38b3bb;
  --pink: #ee5696;
  --green: #3ab58b;
  --yellow: #fcd119;
  --textLight: ;
  --textDark: ;
  --background: ;
}

/* Meyers CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Resets */
*,
* ::before,
* ::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input,
textarea,
button {
  outline: 0;
  border: 0;
  box-shadow: none;
}

/* General */
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Quicksand", sans-serif;
  color: var(--textLight);
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
}

/* Flex  */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  justify-content: center;
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

/* Columns */
.flex-15 {
  flex: 0 1 15%;
}
.flex-20 {
  flex: 0 1 20%;
}
.flex-23 {
  flex: 0 1 23%;
}
.flex-25 {
  flex: 0 1 25%;
}
.flex-30 {
  flex: 0 1 30%;
}
.flex-33 {
  flex: 0 1 33%;
}
.flex-40 {
  flex: 0 1 40%;
}
.flex-48 {
  flex: 0 1 48%;
}
.flex-50 {
  flex: 0 1 50%;
}
.flex-60 {
  flex: 0 1 60%;
}
.grow {
  flex: 1 1 auto;
}

/* Padding */
.padding {
  padding: 2rem 0;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.9rem 2rem;
  letter-spacing: 0.8px;
  cursor: pointer;
  background-color: var(--blue);
  color: #ffffff;
  transition: all 200ms ease-in-out;
  font-size: 1.3rem;
  border-radius: 8px;
  font-weight: 400;
  margin-top: 2rem;
  font-family: "Sniglet", cursive;
}
.btn-primary {
  border: 1px solid black;
}
.btn:hover {
  /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 2px 20px var(--blue);
  /* opacity: 0.8; */
  color: #ffffff !important;
}
.btn-primary:hover {
  background-color: var(--secondary);
}

/* Active Link */
.active {
  color: var(--primary);
}

/* Nav and General Links Hover */
nav a:hover {
  color: black;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--blue);
  text-decoration-thickness: 0.3rem;
}

/* Full Width */
.width-full {
  width: 100%;
}

/* Text */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-accent {
  color: var(--accent);
}
.uppercase {
  text-transform: uppercase;
}
.font-0 {
  font-size: 0;
}

/* Clearfix */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

/* Headings and Text */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
h2 {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-style: 200;
  margin-bottom: 1rem;
}
h3 {
  font-family: "Quicksand", sans-serif;
  padding-right: 3rem;
}
h4 {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
h5 {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}
h6 {
  color: white;
  font-weight: 700;
}
p {
  font-size: 0.7rem;
  margin-top: 1rem;
}
/* Banner */
.top-banner {
  background-color: var(--pink);
  color: white;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}
.top-banner a {
  color: var(--yellow);
  cursor: pointer;
}
.top-banner h3 {
  animation: blink 3s linear 4s 5;
  padding-right: 0.3rem;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Main Navigation */
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
header li {
  margin-left: 2rem;
}
header i {
  font-size: 1rem;
  color: black;
}
header a {
  color: black;
}
.logo {
  width: 150px;
}
nav {
  display: flex;
  flex-wrap: wrap;
}

/* Hero  */
.hero {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0;
  padding-bottom: 0;
}
.bubble {
  color: var(--green);
}
.blowers {
  color: var(--blue);
}
.swim-school {
  color: var(--pink);
}
.hero-1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.hero-2 {
  background: url("../img/herocircleimg.jpeg") no-repeat center/contain;
  margin-left: 5rem;
}

/* Logos */

.logos img {
  max-width: 200px;
}

/* Blockquote */
blockquote {
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  color: white;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 8rem 16rem;
  text-align: center;
  background: var(--yellow) url("../img/quotebackground.jpeg") no-repeat
    center/cover;
}
blockquote strong {
  color: var(--yellow);
  font-weight: 500;
}

/* Classes */
.classes {
  padding: 3rem 1rem;
}
i {
  font-size: 7rem;
  color: var(--blue);
  text-align: center;
}

/* Wifi Quote */
.wifi blockquote {
  background: rgb(56, 179, 187);
  background: radial-gradient(
    circle,
    rgba(56, 179, 187, 1) 57%,
    rgba(238, 86, 150, 1) 58%,
    rgba(239, 92, 144, 1) 66%,
    rgba(252, 209, 25, 1) 67%
  );
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Kids Classes */
.kids {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.kids p {
  font-size: 1rem;
}
.kids-1 {
  padding: 1rem 3rem;
}
.kids-2 {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-radius: 10%;
}
.kids-2 img {
  border-radius: 10%;
  width: 100%;
  object-fit: cover;
  margin-top: 3rem;
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}
.parent img {
  border-radius: 50%;
  width: 100%;
  object-fit: cover;
}
.little-ones li {
  list-style-type: disc;
  margin-left: 1.2rem;
}
.kids-3 {
  padding: 1rem 4rem;
}
hr {
  width: 70%;
}
h5 strong {
  color: var(--pink);
}

/* Meet Your Instructor */
.instructor {
  margin-bottom: 4rem;
}
.instructor a {
  margin-top: 3rem;
}
.instructor-pic {
  padding: 2rem;
}
.instructor img {
  /* border-radius: 50%; */
  width: 100%;
  object-fit: cover;
}
.instructor-text {
  padding: 4rem;
  padding-top: 2rem;
}

/* Happiness */
.nurturing {
  background-color: var(--yellow);
  padding: 1rem;
}
.soft {
  background-color: var(--green);
  padding: 0.5rem;
}
.loving {
  background-color: var(--blue);
  padding: 2rem;
}
.child-led {
  background-color: var(--pink);
  padding: 1rem;
}

/* What Our Clients Say */
.testimonials {
  background: var(--green) url("../img/water.jpg") no-repeat center/cover;
  margin-bottom: 4rem;
  border-radius: 5px;
}
.testimonials h5 {
  padding: 0;
  color: white;
  background-color: var(--pink);
}
.testimonials h3 {
  padding: 2rem;
}
.bivasha {
  border: 8px solid var(--pink);
  color: black;
  padding: 5rem;
  text-align: center;
  border-radius: 220px;
  margin: 1rem;
  background-color: white;
}

/* Gallery */
.flex-30 img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 1rem;
  border-radius: 20%;
}
.gallery {
  background-color: var(--yellow);
  padding: 2rem;
  border-radius: 50%;
}
.gallery-button {
  margin-bottom: 3rem;
}

/* Happy babies*/
.know {
}
.kids-3 {
  padding: 0rem 0.5rem;
  padding-left: 1rem;
}
.know img {
  border-radius: 50%;
  width: 120%;
  object-fit: cover;
  padding: 3rem !important;
}

/* Did you know */
.know2 {
}
.know2 img {
  border-radius: 60%;
  width: 100%;
  object-fit: cover;

  margin-top: 3rem;
}

/* Final Section - See you in the pool*/
.final {
  background-color: var(--yellow);
  color: black;
  margin-top: 4rem;
  border-radius: 30%;
  margin-bottom: 3rem;
}
.final h6 {
  text-decoration: underline;
  margin-top: 2rem;
  font-size: 0.9rem;
}
.last {
  background-color: var(--pink);
  margin-top: -11.8rem;
  padding: 4rem;
  margin: 0 auto;
}
.last h5 {
  color: white;
  width: 100%;
}

/* Footer */
footer {
  margin-top: 4rem;
  background-color: black;
  color: white;
}
footer li {
  padding-bottom: 1rem;
}
footer ul {
  padding-top: 1rem;
}
.flex-40 {
  padding: 2rem;
}
.flex-40 i {
  font-size: 1rem;
  margin-right: 1rem;
}
iframe {
  padding: 1rem 1rem;
}
.phone {
  color: white;
}
.phone:hover {
  color: var(--blue);
}
.flex-40 i {
  font-size: 1.4rem!important;
}

/* Bubbles */
body {
  background-color: white;
}
.ag-bubbles {
  height: 98%;
  width: 100%;
  margin: 0 auto;

  overflow: hidden;

  z-index: -2;
  position: absolute;
  left: 0;
  bottom: 0;
}
.js-ag-bubble-container {
  position: absolute;
  bottom: 2em;

  opacity: 0;

  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

  -webkit-animation: an-bubble-1 5s infinite ease-in;
  -moz-animation: an-bubble-1 5s infinite ease-in;
  -o-animation: an-bubble-1 5s infinite ease-in;
  animation: an-bubble-1 5s infinite ease-in;

  will-change: transform;
}
.js-ag-bubble {
  height: 6px;
  width: 6px;
  margin: 0 auto;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  background: var(--blue);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-animation: an-bubble-2 0.4s infinite linear;
  -moz-animation: an-bubble-2 0.4s infinite linear;
  -o-animation: an-bubble-2 0.4s infinite linear;
  animation: an-bubble-2 0.4s infinite linear;

  will-change: transform;
}

@-webkit-keyframes an-bubble-1 {
  0% {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    opacity: 1;

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  }
  98% {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  }
  to {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    -webkit-transform: translateY(-150em);
    transform: translateY(-150em);
  }
}
@-moz-keyframes an-bubble-1 {
  0% {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    opacity: 1;

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  }
  98% {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  }
  to {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    -moz-transform: translateY(-150em);
    transform: translateY(-150em);
  }
}
@-o-keyframes an-bubble-1 {
  0% {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    -o-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    opacity: 1;

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  }
  98% {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  }
  to {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    -o-transform: translateY(-150em);
    transform: translateY(-150em);
  }
}
@keyframes an-bubble-1 {
  0% {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  30% {
    opacity: 1;

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  }
  98% {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  }
  to {
    opacity: 0;

    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);

    -webkit-transform: translateY(-150em);
    -moz-transform: translateY(-150em);
    -o-transform: translateY(-150em);
    transform: translateY(-150em);
  }
}

@-webkit-keyframes an-bubble-2 {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.1em) translateZ(0.01px);
    transform: translateX(0.1em) translateZ(0.01px);
  }
}
@-moz-keyframes an-bubble-2 {
  0% {
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -moz-transform: translateX(0.1em) translateZ(0.01px);
    transform: translateX(0.1em) translateZ(0.01px);
  }
}
@-o-keyframes an-bubble-2 {
  0% {
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -o-transform: translateX(0.1em) translateZ(0.01px);
    transform: translateX(0.1em) translateZ(0.01px);
  }
}
@keyframes an-bubble-2 {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0.1em) translateZ(0.01px);
    -moz-transform: translateX(0.1em) translateZ(0.01px);
    -o-transform: translateX(0.1em) translateZ(0.01px);
    transform: translateX(0.1em) translateZ(0.01px);
  }
}

/* Hamburger Menu */
.hamburger,
.cross {
  background-color: var(--pink);
  color: white;
  padding: 0.8rem;
  cursor: pointer;
}
.hamburger i,
.cross i {
  color: white;
  font-size: 2.5rem;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
.mobile-none {
  display: block;
}
.mobile-show {
  display: none;
}

/* Google Reviews */

.google-reviews {
  margin-bottom: 2rem;
}
.google-reviews img {
  width: 100%;
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .flex-48,
  .flex-30,
  .flex-40,
  .flex-25,
  .flex-23,
  .flex-50,
  .column {
    flex: 0 1 100%;
  }
  .flex {
    flex-wrap: wrap;
  }

  header .container {
    padding-left: 2rem;
  }

  header li {
    margin-left: 0rem;
  }

  /* Headings and Text*/
  h1 {
    font-size: 3rem;
  }
  h3 {
    padding-right: 0;
  }
  .flex-23 {
    margin-bottom: 4rem;
  }
  .special-needs {
    margin-bottom: 1rem !important;
  }
  .classes {
    padding-bottom: 0;
  }

  .top-banner {
    font-size: 1rem;
    margin-bottom: 0rem;
    padding: 2rem;
  }
  /* Header */
  .fab {
    font-size: 2rem !important;
  }
  .flex-40 {
    margin: 0;
    padding: 0;
  }
  nav {
    padding-top: 2rem;
  }
  .logos img {
    max-width: 100px;
    margin-bottom: 3rem;
  }
  .logo {
    padding-left: 2rem;
  }
  .header-top {
    margin-top: 0.5rem;
  }

  /* Hero */
  .hero-1 {
    text-align: center;
    padding-bottom: 5rem;
  }

  /* Happiness */
  .happiness {
    padding: 0;
  }
  .happiness .container {
    display: flex;
  }
  .soft,
  .nurturing,
  .loving,
  .child-led {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 10px;
  }
  .happy-babies {
    margin-top: 3rem;
  }
  .happy-babies-2 {
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  blockquote {
    background: var(--pink);
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 500;
  }
  blockquote .btn {
    margin-top: 0rem;
  }

  /* Parents and Kids Classes */
  .hero-2,
  .kids-2 {
    width: 100%;
    margin-left: 0;
  }
  .know2 {
    width: 100%;
    margin-left: 0;
  }
  .parent {
    width: 100%;
    margin-left: 0;
  }
  hr {
    display: none;
  }
  .kids-2 {
    text-align: center;
  }
  .kids-2 img {
    object-fit: cover;
  }
  .kids-1 {
    text-align: center;
  }

  .kids-3,
  .kids-1 {
    padding: 0;
    text-align: center;
  }
  .little-ones li {
    list-style-type: none;
    margin-left: none;
  }

  /* Wifi */
  .wifi blockquote {
    background: var(--pink);
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  /* Instructor */
  .instructor-text {
    padding: 0;
    text-align: center;
  }

  /* Testimonials */
  .btn {
    text-align: center;
  }
  .testimonials h3 {
    padding: 4rem;
  }

  /* Gallery */
  .gallery {
    background-color: white;
    text-align: center;
  }
  .gallery-button a {
    margin-top: 0;
    margin-bottom: 2rem;
  }

  /* Final Section*/
  .final {
    margin-bottom: 4rem;
  }

  /* Footer  */
  footer {
    padding-bottom: 1rem;
  }
  footer ul {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  iframe {
    display: none;
  }

  /* Hamburger Menu */
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .logo {
    width: 100px;
    margin-top: 0.5rem;
  }
  .header-top {
    width: 100%;
  }
  header {
    padding: 0;
  }
  /* .nav-list li a {
    color: white;
  } */
  .nav-list ul li {
    margin-bottom: 3rem;
  }
  /* .nav-list ul li i {
    color: white;
  } */
  .nav-list.show {
    display: block;
  }
  .nav-list {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    height: 100vh;
    position: fixed;
    color: var(--pink);
  }
  .nav-list .header-top {
    padding: 1rem 2rem;
  }
  #nav-ul {
    color: var(--pink)!important;
  }
  .nav-list .nav-ul {
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    flex-direction: column;
    padding-top: 5rem;
    color: var(--pink);
  }
  .mobile-none {
    display: none;
  }
  .mobile-show {
    display: block;
  }
}

/* Ipad */
@media only screen and (min-width: 767px) and (max-width: 956px) {
  html {
    font-size: 13px;
  }
  iframe {
    max-width: 300px;
  }
  .menu {
    font-size: 0.9rem;
  }
  .soft,
  .nurturing,
  .loving,
  .child-led {
    margin-bottom: 1rem;
    width: 100%;
  }
  header img {
    max-width: 120px;
  }
  header .container {
    padding-left: 0;
  }
}

/* Ipad pro */
@media only screen and (min-width: 956px) and (max-width: 1025px) {
  iframe {
    max-width: 400px;
  }
}
